/* icons for sidebar */
.nav-icon-files {
	background-image: url('/apps/files/img/folder.svg');
}
.nav-icon-favorites {
	background-image: url('/apps/files/img/star.svg');
}
.nav-icon-sharingin,
.nav-icon-sharingout {
	background-image: url('/apps/files/img/share.svg');
}
.nav-icon-sharinglinks {
	background-image: url('/apps/files/img/public.svg');
}
.nav-icon-extstoragemounts {
	background-image: url('/apps/files/img/external.svg');
}
.nav-icon-trashbin {
	background-image: url('/apps/files/img/delete.svg');
}
.nav-icon-activity {
	background-image: url('/themes/MOE/apps/activity/img/activity.svg');
}